@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}

#nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#nav-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
}

#nav-menu a:hover {
    background-color: #f4f4f4;
}

#nav-menu.open {
    display: block;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    margin-left: 10px;
}

.tablinks {
    background-color: #f1f1f1;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #0dff00;
    color: black;
}

.tabcontent {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
    border-radius: 0 5px 5px 5px;
}